@import '~antd/dist/antd.css';

.container-fluid {
  margin-top: 30px;
}

.mb-3 {
  display: flex;
  justify-content: center; 
}

a {
  text-decoration: none;
}

form {
  /* margin-top: 20%;
  margin-left: 40%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  max-width: 500px;
}

button {
  width: 15%;
}